*{
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    background: linear-gradient(to bottom right, rgba(255, 0, 0,0.3)20%, rgba(0, 0, 255,0.3)60%,blue);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 5em;
    margin-bottom: 20px;
    text-decoration: underline;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
}

form{
    margin: 15px;
}
form input{
    margin-left:10px;
}
#gridSize{
    font-size: 15px;
    color:brown
}
.container{
    background-color: aliceblue;
    width:600px;
    height:600px;
    padding: 2px;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  
}
.row{
    display: flex;
    flex: 1;
}
.column{
    background-color: rgb(224, 222, 222);
    flex:1;
    border:1px solid rgb(255, 255, 255);
    margin:0.5px;
}
button{
    width:50px;
    background-color:beige;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(255, 215, 128);
    color:rgb(3, 23, 114);
    height:25px;
}

